#cloth {
  height: fit-content;
  min-height: 100px;
  min-width: 100px;

  border-width: 1px !important;
  border: solid;
  border-color: black;
}

#graph {
  height: fit-content;
  min-height: 100px;
  min-width: 100px;

  /* 方眼紙模様に必須のスタイル */
  background-image: linear-gradient(
      0deg,
        transparent 1px,
      #000000 2px
    ),
    linear-gradient(
      90deg,
        transparent 1px,
      #000000 2px
    );
  background-size: 2px 2px;
}

#p-sample {
  display: none;
}

.pattern {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: black;

  position: absolute;
  top: 160px;
  width: 100px;
  height: 120px;

  font-size: xx-small;
}

.style-ruby {
  display: ruby;
}

.uk-flex {
  align-items: center;
}

.ruby-text {
  display: ruby-text;
}

#btn-calc {
  width: 80%;
}
